#container {
  height: 600px;
  width: 80%;
  border: 2px solid black;
  background-color: azure;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* flex-wrap: wrap; */
  /* align-items: baseline; */
  align-content: baseline;
}

h1 {
  text-align: center;
}

#orange {
  align-self: baseline;
  /* flex-basis: 500px; */
  /* flex-grow: 1; */
  flex-shrink: 1;
}

#blue {
  flex-basis: 400px;
  /* flex-grow: 2; */
  /* max-width: 400px; */
  flex-shrink: 1;
}

#container div {
  height: 100px;
  width: 200px;
  color: white;
  text-align: center;
  font-size: large;
}
